<div id="map" style="width: 800px;height: 500px;border: 1px solid black;"></div>

<script type="text/javascript">
function updateMarkers() {
	bbox = map.getExtent();
	bbox.transform(map.getProjectionObject(), wgs84);
	
    <%= remote_function(:with => "'zoom=' + map.zoom + '&left=' + bbox.left + '&bottom=' + bbox.bottom + '&right=' + bbox.right + '&top=' + bbox.top", :url => { :action => :update_markers }) %>
}

var map;
wgs84 = new OpenLayers.Projection('WGS84')

map = new OpenLayers.Map('map',
	{ controls: [],
	maxExtent: new OpenLayers.Bounds(-20037508,-20037508,20037508,20037508),
	numZoomLevels: 18,
	maxResolution: 156543,
	units: 'm',
	displayProjection: wgs84,
	projection: "EPSG:41001"});


var layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
var layerTah = new OpenLayers.Layer.OSM.Osmarender("Tiles@Home");
map.addLayers([layerMapnik,layerTah]);

var addmarkers = new OpenLayers.Layer.Markers( "Features to add" );
map.addLayer(addmarkers);
var modmarkers = new OpenLayers.Layer.Markers( "Features to modify" );
map.addLayer(modmarkers);
var delmarkers = new OpenLayers.Layer.Markers( "Features to delete" );
map.addLayer(delmarkers);

map.addControl(new OpenLayers.Control.LayerSwitcher());
map.addControl(new OpenLayers.Control.Navigation());
map.addControl(new OpenLayers.Control.PanZoomBar());
map.addControl(new OpenLayers.Control.MousePosition());

var control = new OpenLayers.Control.DragPan();
OpenLayers.Util.extend(control, {
	draw: function() {
        this.handler = new OpenLayers.Handler.Drag(this,
                            {"move": this.panMap, "done": this.panMapDone});
		this.handler.activate();
    },

    panMapDone: function(xy) {
        if(this.panned) {
            this.panMap(xy);
            this.panned = false;
			updateMarkers();
        }
    },

	updateMarkers: function() {
		bbox = map.getExtent();
		bbox.transform(map.getProjectionObject(), wgs84);
		
        <%= remote_function(:with => "'zoom=' + map.zoom + '&left=' + bbox.left + '&bottom=' + bbox.bottom + '&right=' + bbox.right + '&top=' + bbox.top", :url => { :action => :update_markers }) %>
    }
});
map.addControl(control);


var center = new OpenLayers.LonLat(<%= @location[:lon] %>,<%= @location[:lat] %>);
center.transform(wgs84, map.getProjectionObject());

map.setCenter(center, <%= @location[:zoom] %>);

var size = new OpenLayers.Size(18,25);
var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
var add_icon = new OpenLayers.Icon('openlayers/img/add-feature.png',size,offset);
var modify_icon = new OpenLayers.Icon('openlayers/img/modify-feature.png',size,offset);
var delete_icon = new OpenLayers.Icon('openlayers/img/delete-feature.png',size,offset);

updateMarkers();
</script>
